[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=MP4-Video-Files
Name[de]=MP4-Video-Dateien
X-KDE-ServiceTypes=ThumbCreator
MimeType=video/*;application/x-flash-video;application/vnd.ms-asf;application/vnd.rn-realmedia;
CacheThumbnail=true
ThumbnailerVersion=3
X-KDE-Library=mp4coverthumbnail
IgnoreMaximumSize=true
Configurable=true
