[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=MP4-Video-Files
Name[de]=MP4-Video-Dateien
X-KDE-ServiceTypes=ThumbCreator
MimeType=video/mp4
CacheThumbnail=true
ThumbnailerVersion=3
X-KDE-Library=mp4coverthumbnail
